<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantDB</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <form class="example" action="/" method="GET">
        <button type="submit">Logout</button>
      </form>
      <form class="example" action="/profile" method="GET">
        <button type="submit">Profile</button>
      </form>

    <h1>RestaurantDB</h1>
    <form class="example" action="/name" method="POST">
      <input type="text" placeholder="Search Restaurant by Name" name="name">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <form class="example" action="/type" method="POST">
      <input type="text" placeholder="Search Restaurant by Type" name="type">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <form class="example" action="/allergy" method="POST">
      <input type="text" placeholder="Search Restaurant based on allergy" name="allergy">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <form class="example" action="/rating" method="POST">
      <button type="submit">Top 10 Rating</button>
    </form>

    <h2>Top Users Recognition</h2>
    <table class="res">
      <tr>
        <td class="ratt">Username</td>
        <td class="ratt">Number of Reviews</td>
      </tr>
     </table>
    <% user.forEach(function(dat) { %>
      <table class="res">
        <tr>
          <td class="ratt"><%= dat.username %></td>
          <td class="ratt"><%= dat.count %></td>
        </tr>
       </table>
    <% }); %>

  </body>
</html>
