<!DOCTYPE html>
<html>
  <head>
    <title>RestaruantDB</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <form class="example" action="/" method="GET">
        <button type="submit">Logout</button>
      </form>
      <form class="example" action="/profile" method="GET">
        <button type="submit">Profile</button>
      </form>

    <h1>RestaruantDB</h1>
    <form class="example" action="/name" method="POST">
      <input type="text" placeholder="Search Restaruant by Name" name="name">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <form class="example" action="/type" method="POST">
      <input type="text" placeholder="Search Restaruant by Type" name="type">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <form class="example" action="/allergy" method="POST">
      <input type="text" placeholder="Search Restaruant based on allergy" name="allergy">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <form class="example" action="/rating" method="POST">
      <input type="text" placeholder="Search Restaruant by Rating" name="rating">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>

  </body>
</html>
