<!DOCTYPE html>
<html>
  <head>
    <title>RestaruantDB</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form class = "example" action="/review" method="POST">
        <input type="text" placeholder="Write reviews for this restaruant" name="review">
        <input type="text" placeholder="Input ratings" name="rating">
        <button type="submit">Submit</button>
    </form>
  </body>
</html>
